<!-- 行人 -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="obs_person">
    <!-- 颜色 -->
    <material name="red">
        <color rgba="0.8 0.2 0.2 0.9"/>
    </material>

    <!-- 根坐标 -->
    <link name="map"/>

    <!-- 障碍行人生成函数, 参数: id号, 长宽高-->
    <xacro:macro name="create_obs_person" params="id person_length person_width person_height color">
        <!-- 底盘在map的投影点 -->
        <link name="base_footprint_person${id}"/>

        <!-- 底盘 -->
        <link name="base_link_person${id}">
            <visual>
                <geometry>
                    <box size="${person_length} ${person_width} ${person_height}"/>
                </geometry>
                <material name="${color}"/>
            </visual>
        </link>

        <!-- 投影点关联到地图 -->
        <joint name="footprint_person${id}_to_map" type="fixed">
            <parent link="map"/>
            <child link="base_footprint_person${id}"/>
        </joint>

        <!-- 底盘关联到投影点 -->
        <joint name="base_person${id}_to_footprint${id}" type="fixed">
            <parent link="base_footprint_person${id}"/>
            <child link="base_link_person${id}"/>
            <origin xyz="0.0 0.0 ${person_height / 2.0}"/>
        </joint>
    </xacro:macro>

    <!-- 调用函数 -->
    <xacro:create_obs_person id="1" person_length="0.5" person_width="0.5" person_height="1.75" color="red"/>
    <xacro:create_obs_person id="2" person_length="0.5" person_width="0.5" person_height="1.75" color="red"/>
    <xacro:create_obs_person id="3" person_length="0.5" person_width="0.5" person_height="1.75" color="red"/>
</robot>
