<!-- 电动自行车 -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="obs_ebike">
    <!-- 颜色 -->
    <material name="orange">
        <color rgba="1.0 0.5 0.0 0.9"/>
    </material>

    <!-- 根坐标 -->
    <link name="map"/>

    <!-- 障碍电动自行车生成函数, 参数: id号, 长宽高-->
    <xacro:macro name="create_obs_ebike" params="id ebike_length ebike_width ebike_height color">
        <!-- 底盘在map的投影点 -->
        <link name="base_footprint_ebike${id}"/>

        <!-- 底盘 -->
        <link name="base_link_ebike${id}">
            <visual>
                <geometry>
                    <box size="${ebike_length} ${ebike_width} ${ebike_height}"/>
                </geometry>
                <material name="${color}"/>
            </visual>
        </link>

        <!-- 投影点关联到地图 -->
        <joint name="footprint_ebike${id}_to_map" type="fixed">
            <parent link="map"/>
            <child link="base_footprint_ebike${id}"/>
        </joint>

        <!-- 底盘关联到投影点 -->
        <joint name="base_ebike${id}_to_footprint${id}" type="fixed">
            <parent link="base_footprint_ebike${id}"/>
            <child link="base_link_ebike${id}"/>
            <origin xyz="0.0 0.0 ${ebike_height / 2.0}"/>
        </joint>
    </xacro:macro>

    <!-- 调用函数 -->
    <xacro:create_obs_ebike id="1" ebike_length="1.9" ebike_width="0.7" ebike_height="1.1" color="orange"/>
    <xacro:create_obs_ebike id="2" ebike_length="1.9" ebike_width="0.7" ebike_height="1.1" color="orange"/>
</robot>
